<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Chat</title>
</head>
<body >

<div th:each="element:${messages}">
    <a th:text="${element.getUser().firstName}+ ' ' + ${element.getUser().lastName}+': '"></a>
    <a th:text="${element.text}"></a>

    <br/>
</div>
<div th:each="element:${chatId}">
    <form  method="post" th:action="'/user/chats/'+${element}">
        <h2>New message</h2>
        <a>
            <textarea name="text" placeholder="Enter text"></textarea><br>
        </a>
        <button type="submit">Send message</button>
    </form>
</div>

</body>
</html>